.main-top-banner {
  display: block;
  width: 100%;
  height: 400px;
  position: relative;
}

.main-top-banner-inner {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 631px;
  display: block;
  width: 316px;
  padding: 40px;
  text-decoration: none;
  border: 1px solid #aac6e0;
  background-color: #407ab1;
}


.main-top-banner-inner a {
  text-decoration: none;
  color: #fff;
}

.main-top-banner-inner:focus, .main-top-banner-inner:hover {
  text-decoration: none;
}

.main-top-banner-text, .main-top-banner-title {
  overflow: hidden;
  font-size: 28px;
  line-height: normal;
  height: 45px;
  margin-bottom: 15px;
  color: #fff;
}

.main-top-banner-title a, .main-top-banner-title a:hover {
  font-size: 28px;
  color: #fff;
  text-decoration: none;
}

.main-top-banner-text {
  font-size: 13px;
  height: 32px;
  margin-bottom: 20px;
  opacity: .8;
}

.container {
  width: 100%;
  height: 600px;
  position: relative;
}

.squared {
  position: relative;
  float: left;
  width: 50%;
  height: 600px
}

.page-btn, .page-btn-invert {
  font-size: 12px;
  line-height: 43px;
  width: auto;
  height: 45px;
  padding: 0 30px;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  line-height: 43px;
  color: #fff;
  border: 1px solid #fff;
  background: 0 0;
}

.page-btn:hover {
  text-decoration: none;
  color: #407ab1;
  background: #fff;
}

.page-btn-invert {
  padding: 16px 30px;
  color: #407ab1;
  background: #fff;
  border: 1px solid #32608c;
}

.page-btn-invert:hover {
  text-decoration: none;
  color: #fff;
  background: #407ab1;
}

.element {
  position: relative;
  float: left;
  font-size: 14px;
  width: 50%;
  height: 300px;
  transition: all .4s;
  vertical-align: top;
  text-decoration: none;
  border: 1px solid #aac6e0;
  background: #407ab1;
  box-sizing: border-box;
  cursor: pointer;
}

.element:focus, .element:hover {
  text-decoration: none;
  background-color: rgba(0, 131, 81, 0.2);
}

.m-gradient {
  width: 100%;
  height: 600px;
}

.padding-block {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 55px 40px 40px;
  vertical-align: top;
  box-sizing: border-box;
}
