.main-top-banner {
  display: block;
  width: 100%;
  height: 400px;
  position: relative;
}

.main-top-banner-inner {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 631px;
  display: block;
  width: 316px;
  padding: 40px;
  text-decoration: none;
  border: 1px solid #aac6e0;
  background-color: #407ab1;
}

.main-top-banner-inner a {
  text-decoration: none;
  color: #fff;
}

.main-top-banner-inner:focus, .main-top-banner-inner:hover {
  text-decoration: none;
}

.main-top-banner-text, .main-top-banner-title {
  overflow: hidden;
  font-size: 28px;
  line-height: normal;
  height: 45px;
  margin-bottom: 15px;
  color: #fff;
}

.main-top-banner-title a, .main-top-banner-title a:hover {
  font-size: 28px;
  color: #fff;
  text-decoration: none;
}

.main-top-banner-text {
  font-size: 13px;
  height: 32px;
  margin-bottom: 20px;
  opacity: .8;
}

.container {
  width: 100%;
  height: 600px;
  position: relative;
}

.squared {
  position: relative;
  float: left;
  width: 50%;
  height: 600px
}

.tile-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.tile {
  display: block;
  padding-top: 190px;
  font-size: 18px;
  color: #fff;
}

.info-wrap {
  position: absolute;
  right: 40px;
  bottom: 40px;
  left: 40px;
}

.info-marker {
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  width: auto;
  height: 28px;
  margin-bottom: 16px;
  padding: 0 15px;
  cursor: default;
  color: #fff;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}

.info-marker-1 {
  background: #e4721c;
}

.info-marker-2 {
  background: #c81978;
}

.info-title {
  font-size: 32px;
  max-width: 600px;
  margin-bottom: 10px;
  letter-spacing: .7px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.info-text {
  font-size: 18px;
  line-height: 23px;
  max-width: 600px;
  margin-bottom: 36px;
  opacity: .9;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.fullinfo-title {
  position: relative;
  font-size: 32px;
  line-height: 38px;
  max-width: 600px;
  margin-bottom: 69px;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #fff;
}

.fullinfo-text {
  overflow: hidden;
  font-size: 18px;
  line-height: 24px;
  max-width: 600px;
  max-height: 195px;
  color: #fff;
}

.fullinfo-control {
  position: absolute;
  bottom: 38px;
  left: 40px;
}

.special {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 30px 40px 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.faq-title {
  font-size: 32px;
  margin-top: -6px;
  margin-bottom: 22px;
  letter-spacing: .7px;
  color: #01935d;
}

.faq-wrapper {
  margin: 0 0 53px;
  padding: 0;
}

.faq-element {
  margin: 0;
  padding: 17px 40px 17px 0;
  list-style: none;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-bottom: 1px solid #dfdfdf;
  background: url(/ikeapromo/img/rightar.png) no-repeat center right;
}

.faq-element:hover {
  color:#333;
  background: url(/ikeapromo/img/rightar.png) no-repeat 98% center;
}

.faq-control {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.faq-link {
  display: block;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.page-btn, .page-btn-invert {
  font-size: 12px;
  line-height: 43px;
  width: auto;
  height: 45px;
  padding: 16px 30px;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  line-height: 43px;
  color: #fff;
  border: 1px solid #fff;
  background: 0 0;
}

.page-btn:hover {
  text-decoration: none;
  color: #407ab1;
  background: #fff;
}

.page-btn-invert {
  color: #407ab1;
  background: #fff;
  border: 1px solid #32608c;
}

.page-btn-invert:hover {
  text-decoration: none;
  color: #fff;
  background: #407ab1;
}

.element {
  position: relative;
  float: left;
  font-size: 14px;
  width: 50%;
  height: 300px;
  transition: all .4s;
  vertical-align: top;
  text-decoration: none;
  border: 1px solid #aac6e0;
  background: #407ab1;
  box-sizing: border-box;
  cursor: pointer;
}

.element:focus, .element:hover {
  text-decoration: none;
  background-color: rgba(0, 131, 81, 0.2);
}

.m-gradient {
  width: 100%;
  height: 600px;
}

.padding-block {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 55px 40px 40px;
  vertical-align: top;
  box-sizing: border-box;
}
