#cookieMsgBlock {
  border-bottom: 1px solid #bcbcbc;
  background-color: #f1f1f1;
}

#allContent #mainPadding {
  padding-top: 45px;
}


/* OVERLAY */

.layer {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  background: #fff;
  opacity: .8;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}


/* MAIN MENU */

.main-header-wrap {
  width: 100%;
  height: 130px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #c9c9c9;
  z-index: 10001;
  transition: all .3s ease-in-out;
}

.main-header {
  width: 1060px;
  position: relative;
  text-align: left;
  z-index: 2;
  padding-top: 12px;
  margin: 0 auto;
}

.main-header .pull-left {
  float: left;
}

.main-header .pull-right {
  float: right;
}

.main-header ul {
  list-style-type: none;
}

body.fade-in .main-header {
  opacity: 1;
}

.header-links {
  margin-top: 22px;
}

.header-brand {
  display: inline-block;
  width: 110px;
  text-align: center;
}

.header-brand img {
  display: block;
  vertical-align: bottom;
}

.header-gray-stripe {
  background: #f6f6f6;
  overflow: hidden;
  padding: 0 35px;
}

.header-gray-stripe ul {
  margin: 0;
  padding: 0;
}

.header-gray-stripe ul li {
  display: inline-block;
  margin-right: 20px;
}

.header-gray-stripe ul li:last-child {
  margin-right: 0;
}

.header-gray-stripe ul li>a {
  font-size: 11px;
  color: #000;
  line-height: 35px;
}

.header-gray-stripe ul li>a.link-if {
  font-weight: bold;
  color: #fc652d;
}

.header-gray-stripe ul li>a.link-ib {
  font-weight: bold;
  color: #0e53a1;
  text-transform: uppercase;
}

.header-gray-stripe ul li>a.link-catalogue {
  position: relative;
  margin-left: 16px;
}

.header-gray-stripe ul li>a.link-catalogue::before {
  content: '';
  width: 13px;
  height: 11px;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: -16px;
  background: url('//www.ikea.com/ms/pl_PL/img/header/ico-catalogue.png') center center no-repeat;
  margin-right: 4px;
}

.header-nav {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 0;
  vertical-align: top;
}

.header-nav .hover-line {
  position: absolute;
  top: 45px;
  left: 0;
  right: 100%;
  height: 1px;
  background: #000;
  z-index: 10;
  transition: all 200ms ease;
}

.header-nav-list, .header-nav-group ul, .pictures {
  padding: 0;
  margin: 0;
}

.header-nav-item {
  vertical-align: top;
  display: inline-block;
}

.header-nav-item>a {
  display: block;
  padding: 13px 15px;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  color: #1b1a1a;
  text-transform: uppercase;
  outline: none;
}

.header-nav-item>.arrow {
  position: relative;
}

.header-nav-item>a.arrow::after {
  content: '';
  width: 13px;
  height: 7px;
  display: inline-block;
  background: url('//www.ikea.com/ms/pl_PL/img/header/arrow-down-13x7.png');
  margin-left: 10px;
  transition: transform 300ms ease;
}

.header-nav-item>a:hover {
  text-decoration: none;
}

.header-nav-item.header-nav-sub-list-cnt {
  position: relative;
}

.header-quick-links ul, .header-cards ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header .text-bold {
  font-weight: bold;
}


/* STICKY HEADER */

.header-sticky .main-header-wrap {
  top: -47px;
}

.header-sticky .header-nav-item-stick {
  display: inline-block;
}


/* SEARCH BOX */

.header-search {
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
}

.header-search .form-control {
  float: left;
}

.header-search .search-button {
  display: inline-block;
  margin: 8px 0 0 -38px;
}

.header-search .buttonContainer {
  position: static;
}

.header-search .buttonCaption {
  background: none;
}

.header-search .buttonContainer .buttonLeft, .header-search .buttonContainer .buttonRight {
  display: none;
}

.header-search .buttonContainer input[type="button"] {
  width: 19px;
  height: 19px;
  background: url('//www.ikea.com/ms/pl_PL/img/header/ico-search-black.png') center center no-repeat;
  border: none;
  text-indent: -9999px;
}

.header-search .hidden {
  font-size: 0;
  height: 0;
  width: 0;
}

.header-search #search {
  border: 1px solid #c1c1c1;
  width: 295px;
  height: 15px;
  box-sizing: content-box;
  font-size: 11px;
  margin: 0 10px 0 140px;
  padding: 10px;
}

.header-search #indicator {
  display: none;
}


/* ACCORDION */

.header-nav-item {
  transition: opacity .3s ease;
}

.header-nav-item.inactive {
  opacity: .4;
}

.header-nav-item .acc-content {
  position: absolute;
  top: 61px;
  left: -115px;
  right: 0;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease;
  z-index: 10;
}

.header-nav-item.menu-business .acc-content {
  left: 184px;
}

.header-nav-item .acc-content .left-side {
  border: 1px solid #c9c9c9;
  border-top: none;
}

.header-nav-item .acc-content .header-nav-group {
  border: 1px solid #c9c9c9;
  border-top: none;
}

.header-nav-item .acc-content li a {
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 14px;
  color: #000;
}

.header-nav-item .acc-content li a:hover {
  text-decoration: none;
}

.header-nav-item .acc-content .standard li a {
  display: inline-block;
  padding: 5px 0;
}

.header-nav-item .acc-content .pictures li+li {
  margin-top: 30px;
}

.header-nav-item .acc-content .pictures li {
  margin: 0 20px;
}

.header-nav-item .acc-content .pictures li a {
  text-transform: uppercase;
}

.header-nav-item .acc-content .pictures li a img {
  margin-top: 15px;
  display: block;
}

.header-nav-sub-list ul {
  padding: 30px;
}

.header-nav-sub-block .col-4 {
  width: 20%;
  float: left;
  padding: 30px 0;
}

.header-nav-sub-block .featured {
  padding: 0 30px;
}

.header-nav-sub-block .featured li {
  margin-bottom: 14px;
  font-size: 11px;
  line-height: 18px;
  color: #999;
}

.header-nav-sub-block .featured li a {
  line-height: 18px;
  padding: 0;
}

.header-nav-sub-block .groupTitle {
  font-size: 12px;
  color: #939393;
  font-weight: normal;
}

.header-nav-sub-block .row:nth-child(2) .col-4:before {
  background: #d2d2d2;
  height: 1px;
  width: 190px;
  content: "";
  position: absolute;
  top: 390px;
}

.header-nav-sub-block .row {
  clear: both;
}

.header-nav-item .main-menu-active::after {
  transform: scaleY(-1);
}

.header-nav-item .main-menu-active+.acc-container .acc-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms ease 300ms;
}

.menu-rooms .col-4 {
  padding-top: 30px;
}

.left-side {
  width: 356px;
  position: relative;
  background: #fff;
}

.right-side {
  width: 670px;
}

.header-nav-additional {
  border-top: 1px solid #e6e6e6;
  margin: 0 14px 0 20px;
  padding: 10px 0;
}

.header-nav-additional a {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
  padding: 4px 0 4px 20px;
  margin: 0 -14px 0 -20px;
  display: block;
  position: relative;
}

.menu-business .left-side ul.header-nav-additional:first-child {
  padding: 22px 0 15px;
  border-top: 0;
  border-bottom: 1px solid #e6e6e6;
}

.header-nav-sublist {
  padding: 10px 0 13px 0;
}

.header-nav-item .header-nav-sublist>li.active, .header-nav-additional li a:hover, .list-container li:hover {
  background: #e6e6e6;
}

.header-nav-item .header-nav-sublist li a {
  color: #000;
  font-size: 12px;
  line-height: 14px;
  padding: 7px 0 7px 20px;
  display: block;
  position: relative;
}

.header-nav-item .header-nav-sublist li a em {
  position: absolute;
  right: 14px;
  top: 10px;
  background: url('//www.ikea.com/ms/pl_PL/img/header/arrow-right-5x10.png') no-repeat center right;
  display: block;
  width: 5px;
  height: 10px;
}

.header-nav-item .header-nav-sublist li.active a em {
  transform: translateX(4px);
  transition: transform 150ms ease 0s;
}


/*.header-nav-sublist > .product-list-4 .item-2 { margin-left: 50px; }*/


/*.header-nav-sublist > .product-list-4 .item-2::after { content: ''; background: url('//www.ikea.com/ms/pl_PL/img/header/-15.jpg') center center no-repeat; width: 100px;*/


/*height: 26px; display: inline-block; position: absolute; top: 0; left: -60px; }*/

.header-nav-group {
  position: absolute;
  left: 354px;
  top: 0;
  width: 667px;
  padding: 0 20px 20px;
  background: #fff;
  box-sizing: content-box;
  display: none;
}

.menu-business .header-nav-group {
  width: 367px;
}

.header-nav-item .header-nav-sublist li.active .header-nav-group {
  display: block;
}

.list-container {
  height: 208px;
}

.menu-business .list-container {
  height: auto;
}

.header-nav-group .col-3 {
  width: 33.33%;
  float: left;
}

.header-nav-item.menu-rooms .acc-content {
  width: 1060px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.header-nav-item .acc-content .header-nav-group ul {
  padding-top: 10px;
}

.menu-business.header-nav-item .acc-content .header-nav-group ul {
  padding-top: 15px;
}

.header-nav-item .header-nav-group ul li {
  padding-left: 7px;
}

.header-nav-item .acc-content .header-nav-group ul li a {
  letter-spacing: 0;
  color: #000;
  font-size: 12px;
  line-height: 14px;
  padding: 7px 0 7px;
  display: block;
}

.header-nav-item .acc-content .header-nav-group a.additional-link {
  padding: 14px 0 0;
  margin-top: 17px;
  font-weight: bold;
  border-top: 1px solid #e6e6e6;
}

.img-container {
  width: 667px;
  position: absolute;
  top: 208px;
  bottom: 17px;
  overflow: hidden;
  padding-top: 18px;
  border-top: 1px solid #e6e6e6;
}

.menu-business .img-container {
  width: 367px;
  position: static;
  overflow: hidden;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
}

.header-nav-item .img-container .header-banner {
  display: block;
  height: 100%;
  min-height: 199px;
  background: center center no-repeat;
  background-size: cover;
  padding: 0;
}

.header-nav-item .acc-content .img-container a {
  padding: 0;
}

.img-container a:hover .product-name, .img-container a:hover .product-category {
  text-decoration: underline;
}

.img-container .price-tag {
  position: absolute;
  top: 40px;
  left: 50px;
}

.img-container .price-tag.left {
  right: 10px;
  left: auto;
  bottom: 20px;
  top: auto;
}

.img-container .price-tag>span {
  display: block;
}

.img-container .price-tag.text-white>span {
  color: #fff;
}

.img-container .price-tag .product-name {
  font-size: 12px;
  font-weight: bold;
}

.img-container .price-tag .product-category {
  font-size: 10px;
}

.img-container .price-tag .product-price {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.img-container .price-tag .product-price-previous {
  font-size: 12px;
  text-decoration: line-through;
}

.img-container .badge-nnc {
  margin-bottom: 10px;
}


/* HEADER CART */

.header-cart {
  float: right;
  position: relative;
}

.header-cart .cart-quantity {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  background: #437baf;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
}

.minicart {
  visibility: hidden;
  opacity: 0;
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
  position: absolute;
  top: 61px;
  right: 0;
  background: #fff;
  font-size: 11px;
  color: #333;
  line-height: normal;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  padding-top: 40px;
  transition: 150ms opacity ease-in-out;
  z-index: 12;
}

.show-cart .minicart {
  visibility: visible;
  opacity: 1;
}

.minicart-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.minicart-qty, .minicart-total-price, .minicart .prod-name {
  font-weight: bold;
}

.minicart .minicart-total {
  font-size: 17px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d6d6d6;
}

.minicart .prod-description {
  display: block;
  padding-top: 30px;
}

.minicart .prod-name {
  display: block;
}

.minicart .prod-price {
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-top: 3px;
}

.minicart a {
  color: #333;
}

.minicart a:hover {
  text-decoration: none;
}

.minicart a:hover .prod-name, .minicart a:hover .prod-description {
  text-decoration: underline;
}

.minicart p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 40px;
}

ul.minicart-products {
  overflow: hidden;
  padding: 0 40px;
}

.minicart .cart-product {
  clear: both;
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #d6d6d6;
}

.minicart .prod-thumb {
  float: left;
}

.minicart .remaining-msg {
  font-style: italic;
  color: #a1a1a1;
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #d6d6d6;
}

.minicart .btn-blue {
  display: block;
  position: relative;
  height: 40px;
  color: #fff;
  background: #437baf;
  padding: 13px;
  text-decoration: none;
  box-sizing: border-box;
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
  margin: 40px;
}

.minicart .btn-blue::before, .minicart .btn-blue::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 25px;
  width: 0;
  height: 0;
  margin-top: -7px;
  border-width: 7px 0 7px 7px;
  border-style: solid;
  transition: all 150ms ease;
}

.minicart .btn-blue::before {
  border-color: transparent transparent transparent #fff;
}

.minicart .btn-blue::after {
  padding-right: 1px;
  border-color: transparent transparent transparent #437baf;
}

.minicart .btn-blue:hover {
  background: #2e679c;
}

.minicart .btn-blue:hover::before, .minicart .btn-blue:hover::after {
  right: 20px;
}

.minicart .btn-blue:hover::after {
  border-left-color: #2e679c;
}

.no-remaining .remaining-msg, .minicart .ecommerce-loader {
  display: none;
}

.header-cart.loading {
  padding-top: 0;
}

.header-cart.loading .ecommerce-loader {
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  margin: auto;
}

.header-cart.loading .remaining-msg {
  display: none;
}

.header-cart.loading p, .loading ul {
  opacity: 0.2;
}


/* MOBILE MENU */

.header-mobile-menu {
  display: none;
  position: relative;
  height: 43px;
  margin: 0;
  border-top: 1px solid #013fa1;
  border-bottom: 2px solid #09308c;
}

.header-mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #0054b9;
  border-top: 1px solid #3572c0;
  display: table;
  height: 41px;
  width: 100%;
  table-layout: fixed;
}

.header-mobile-menu li {
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid #407dcb;
  text-align: center;
}

.header-mobile-menu a {
  display: block;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px #003399;
  padding: 13px 0;
  text-decoration: none;
}

.header-mobile-icons-list {
  display: none;
  position: absolute;
  top: 6px;
  right: 0;
}

.header-mobile-icons-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-mobile-icons-list li {
  float: left;
  margin: 0 0 0 15px;
}

.header-mobile-icons-list a {
  display: block;
  width: 30px;
  height: 30px;
  background: no-repeat 50% 50%;
}

@media screen and (max-width: 1215px) {
  .header-nav-item>a {
    display: block;
    padding: 15px 14px 30px 14px;
  }
  .header-brand {
    margin-right: 20px;
  }
  .header-nav-item+.header-nav-item {
    margin-left: 0;
    margin-right: -10px;
  }
  .header-nav-sub-block .row:nth-child(2) .col-5::before {
    width: 180px;
  }
  .header-cards {
    margin-right: 50px;
  }
}

@media screen and (max-width: 991px) {
  .main-header-wrap {
    position: static;
    height: auto;
  }
  .main-header, .main-header *, .main-header *::after, .main-header *::before {
    box-sizing: border-box;
  }
  .main-header {
    width: auto;
    padding: 0;
    margin-top: 15px;
  }
  .header-gray-stripe {
    display: none;
  }
  .header-brand {
    margin-right: 20px;
  }
  .header-cards {
    display: none;
  }
  .header-nav::after {
    top: 45px;
  }
  .header-nav .hover-line {
    top: 45px;
  }
  .header-nav-item>a {
    padding: 10px 15px 20px 15px;
  }
  .header-nav-item>.arrow {
    position: relative;
    padding-right: 40px;
  }
  .header-nav-item>a.arrow::after {
    top: 16px;
    right: 20px;
  }
  .header-links {
    position: relative;
    margin-top: 0;
    height: 52px;
    transition: height 300ms ease;
  }
  .header-links.open-search {
    height: 98px;
  }
  .header-mobile-menu, .header-mobile-icons-list {
    display: block;
  }
  .header-search .indicator {
    display: none;
  }
  .header-nav, .header-quick-links {
    display: none;
  }
  .header-brand .claim {
    display: none;
  }
  .header-search {
    position: absolute;
    top: 52px;
    right: 0;
    left: 0;
    margin: 0;
  }
  .header-search .form-control {
    width: 100%;
  }
  .header-search #search {
    padding: 0 40px 0 10px;
    font-size: 12px;
    line-height: 28px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    width: 80%;
    margin: 0;
  }
  .header-search .buttonContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 32px;
    height: 30px;
  }
  .header-search .buttonContainer .buttonCaption {
    display: block;
  }
  .header-search .buttonCaption input {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px !important;
    height: 32px !important;
    padding: 0;
    border: 1px solid #ccc;
    background: #ccc url('//www.ikea.com/ms/pl_PL/img/header/arrow-mobile.png') no-repeat 55% 50%;
    font-size: 0;
    border-radius: 0 4px 4px 0;
  }
  .header-search .buttonCaption input:hover {
    background: #ccc url('//www.ikea.com/ms/pl_PL/img/header/arrow-mobile.png') no-repeat 55% 50%;
  }
  .header-cart {
    display: none;
  }
}


/* BANNER UNDER HEADER */

.top-banner {
  max-width: 1060px;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid #d2d2d2;
  margin: 0 auto 30px auto;
}

.top-banner-blue {
  background: #115ca6;
  color: #fff;
}

.top-banner-yellow {
  background: #fecd31;
  color: #000;
}

.top-banner-ico, .top-banner-text {
  display: inline-block;
  vertical-align: middle;
}

.top-banner-ico {
  height: 47px;
  margin: 4px 0;
  max-width: 45px;
  padding-left: 2px;
}

.top-banner-blue .top-banner-ico {
  max-width: initial;
  height: auto;
  margin: 0 55px;
}

.banner-transport .top-banner-ico {
  height: 24px;
}

.top-banner-text {
  max-width: 90%;
  font-size: 12px;
  line-height: 1.3;
  padding-left: 10px;
  margin: 17px 0;
}

.top-banner-caption {
  color: #f57129;
  font-weight: bold;
  text-transform: uppercase;
}

.top-banner .btn-transparent {
  display: inline-block;
  position: relative;
  background: transparent;
  font-size: 11px;
  color: #fff !important;
  text-transform: uppercase;
  line-height: 51px;
  letter-spacing: 1px;
  padding: 0 36px 0 16px;
  margin-right: 50px;
  border: none;
}

.top-banner.top-banner-yellow a.btn-transparent {
  color: #000000!important;
}

.top-banner .btn-transparent:after, .top-banner .btn-transparent:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  width: 0;
  height: 0;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  transition: all 150ms ease;
}

.top-banner .btn-transparent:before {
  border-color: transparent transparent transparent #fff;
}

.top-banner.top-banner-yellow .btn-transparent:before {
  border-color: transparent transparent transparent #000000;
}

.top-banner .btn-transparent:after {
  padding-right: 1px;
  border-color: transparent transparent transparent #115ca6;
}

.top-banner.top-banner-yellow .btn-transparent:after {
  padding-right: 1px;
  border-color: transparent transparent transparent #fecd31;
}

.top-banner .btn-transparent:hover:after {
  right: 12px;
}

.top-banner.banner-kitchen .top-banner-ico {
  padding-left: 40px;
}

.top-banner.banner-kitchen .top-banner-ico svg {
  height: 100%
}

.top-banner.banner-kitchen .top-banner-text {
  padding-left: 110px;
}

.btn-right {
  float: right;
}

@media screen and (min-width: 1024px) {
  .top-banner-lp {
    margin-top: 130px;
  }
}

@media screen and (max-width: 768px) {
  .top-banner.banner-kitchen .btn-right {
    float: none;
    margin-right: 10px;
  }
  .top-banner.banner-kitchen .top-banner-ico {
    padding-left: 15px;
  }
  .top-banner.banner-kitchen .top-banner-text {
    padding-left: 80px;
  }
}

@media screen and (max-width: 450px) {
  .top-banner-text {
    max-width: 85%;
  }
}
